@import '../../../styles.scss';

.toolbar {
 // background-color: $primary;
 // color: $text-color;
  background-color: primary;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 28px;
    padding-left: 10px;
  }
}