@import '../../../styles.scss';

.lottery-draw {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;
  }
  
  .number-circle,
  .lucky-number-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: $accent-color;
    color: $background-color;
    font-size: 20px;
  }
  
  .lucky-number-circle {
    background-color: $primary-color;
  }